body {
  font-family: 'Vollkorn', Georgia, serif;
  padding: 0;
  margin: 0;
  background-image:url('/img/sprinkles.png');
  min-height: 780px;
}

a {
  text-decoration: none;
  outline: none;
}

#top {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
  position: absolute;
  top: 5%;
  height: 150px;
  width: 950px;
  font-size: 117px;
  font-family: 'Lobster', cursive;
  color: #ffffff;
  filter: alpha(opacity=78);
  opacity: 0.78;
  background-color: #000000;
  padding-left: 25px;
}

#name {
  margin-top: -10px;
  min-width: 504px;
  color: #ffffff;
}

#links {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
  margin-left: 25px;
  height: 140px;
  min-width: 400px;
  width: 430px;
}

#linked {
  height: 128px;
  width: 128px;
  display: inline-block;
  background:transparent url('/img/linkedin_invert.png') center top no-repeat;
}

  #linked:hover {
  border-bottom: solid 11px #1abc9c;
}

#github {
  height: 128px;
  width: 128px;
  display: inline-block;
  background:transparent url('/img/github_invert.png') center top no-repeat;
}

  #github:hover {
    border-bottom: solid 11px #e74c3c;
  }

#email {
  height: 128px;
  width: 128px;
  display: inline-block;
  background:transparent url('/img/email_invert.png') center top no-repeat;
}

  #email:hover {
    border-bottom: solid 11px #2980b9;
  }


#limited {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  -webkit-align-items: center;
  align-items: center;
}


#portrait {
  width: 500px;
  margin-bottom: 35px;
}

.image_size {
  min-width: 200px;
}

#return{
  position: fixed;
  right: 3px;
  top: 10px;
}

@media all and (min-width: 1526px) {

#menu {
  text-align: center;
  position: fixed;
  right: 5%;
  filter: alpha(opacity=78);
  opacity: 0.78;
  background-color: #000000;
  width: 300px;
  height: 100%;
}


#content {
  position: absolute;
  left: 2%;
  top: 250px;
  max-width: 70%;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
}

#summary {
  width: 80%;
}

}

/*Summary CSS - affects all pages*/ 

    #summary p {
      font-size: 18px;
      line-height: 32px;
    }

    #summary span {
      font-size: 24px;
      line-height: 200%;
    }


.s_title{
  font-weight: bold;
  font-size: 28px;
}

#p_title{
  font-weight: bold;
  font-size: 28px;  
}

#gallery {
  width: 600px;
  margin-bottom: 50px;
}

/*Main Page Css*/

#main {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
}

#description {
  height: 500px;
  width: 505px;
  margin: 10px;
  font-size: 24px;
  line-height: 42px;
}


  #proj_title {
    color: #ffffff;
    font-size: 42px;
    font-family: 'Lobster Two', cursive;
  }

.item {
  border: 5px solid white;
  width: 250px;
  margin-top: 15px;
}


  #extend {
    color: #ffffff;
    font-size: 36px;
    font-family: 'Lobster Two', cursive; 
  }

  #extend:hover {
    color: #ffffff;
    font-size: 36px;
    font-family: 'Lobster Two', cursive; 
    text-decoration: underline;
  }



@media all and (max-width: 1525px) {

body {
  min-width: 870px;
  text-align: center;
}


#top {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
  position: absolute;
  top: 0px;
  width: 100%;
  height: 117px;
  font-size: 86px;
  font-family: 'Lobster', cursive;
  color: #ffffff;
  filter: alpha(opacity=78);
  opacity: 0.78;
  background-color: #000000;
  padding-left: 0px;
}

#content{  
  margin: 0 auto;
  margin-top: 150px;
  margin-left: 10%;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-align-items: left;
  align-items: left;
  -webkit-justify-content: left;
  justify-content: left;
}


#menu {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row wrap;
  flex-flow: row wrap;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
  position: static;
  display: inline-block;
  width: 100%;
  filter: alpha(opacity=78);
  opacity: 0.78;
  background-color: #000000;
}

.item {
  margin: 5px 5px;
}

#description {
  text-align: left;
}

#summary {
  text-align: left;
  width: 840px;
}

#gallery {
  margin-top: 50px;
  margin-left: 50px;
  margin-right: 10px;
}

}

@media all and (max-width: 1300px) {

#content {
  margin: 150px 0px 50px 25px;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  flex-direction: column;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
}

#summary {
  text-align: left;
  width: 840px;
}

}