---
layout: default
---
<div id="summary">
    {{ content }}
</div>

<div id="gallery">

    <img class="img_size" alt="{{page.title1}}"
       src="{{page.image1}}"
       data-image="{{page.image1}}"
       data-description="{{page.title1}}">
    
    <img class="img_size" alt="{{page.title2}}"
       src="{{page.image2}}"
       data-image="{{page.image2}}"
       data-description="{{page.title2}}">

    <img class="img_size" alt="{{page.title3}}"
       src="{{page.image3}}"
       data-image="{{page.image3}}"
       data-description="{{page.title3}}">
       
    <img class="img_size" alt="{{page.title4}}"
       src="{{page.image4}}"
       data-image="{{page.image4}}"
       data-description="{{page.title4}}">

</div>
<script>
jQuery(document).ready(function(){ 
  jQuery("#gallery").unitegallery({
  gallery_theme:"tiles",
  });
}); 

//The following code prevents the ug-under-480 class to be added to the gallery id
//the ug-under-480 class does not look good
$( window ).resize(function() {
  console.log(window.location.href);
  window.location.href = window.location.href;
});
</script>